<div class="panel panel-default">
    <div class="panel-heading">
        <span>
        	<input type="checkbox" data-ng-model="ctrl.autohidepost" id="autohidepost">
        	<label for="autohidepost">Auto hide after set label</label>
        </span>
        <span class="pull-right btn-group">
	  <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
		<i class="fa fa-plus"></i>
	  </a>
	</span>
    </div>
    <style type="text/css">span.blur { color: #CCC; }
    	.have-label {
			border-left: 4px solid #A5A5A5 !important;
    	}
    	.row-pos {
    		border-left-color: #008d4c !important;
    	}
    	.row-neg {
    		border-left-color: #f4543c !important;
    	}.row-none {
    		border-left: 0 !important;
    	}
    </style>
    <div class='list-group'>
        <div ng-repeat="item in ctrl.posts" class="list-group-item row-{{item.label}}" data-ng-class="{'have-label': item.label != '' &&  item.label != 'none'}">
            <span class="pull-right btn-group">
			  <a data-ng-repeat="label in getSetting('labelList')" href="" class="btn" 
			  data-ng-class="{ 'btn-success': (label == 'pos'), 'btn-danger': (label == 'neg'), 'btn-default': (label == 'neu') }" 
			  data-ng-click="ctrl.setLabel(item, label)">
				{{ label }}
			  </a>
			</span>

            <div class="box-body">
                <div class="row">
                    <div class="col-sm-10" data-ng-bind-html="item.traincontent ? item.traincontent : ctrl.highLightContent(item.content)"></div>
                </div>
            </div>


            <h4 class="list-group-item-heading">
				<small>
					<span data-ng-bind="item.label" class="label label-primary"></span>
					<span data-ng-bind="item.product" class="label label-success"></span>
					{{item.datetime | date:'medium'}}
					| <a href="" ui-sref="^.preprocess({id: item.id})" class="label label-success">pre-process</a>
					| <a href="" ui-sref="^.edit({id: item.id})">edit</a>
					| <a href="" ui-sref="^.delete({id: item.id})">delete</a>
				  	
					<span ng-if="item.created !== item.modified">
					  &middot; modified:
					  {{item.modified | date:'medium'}}
					</span>
				</small>
			</h4>
        </div>
        <div ng-show="!ctrl.posts.length" class="list-group-item">
            <h4 class="list-group-item-heading" translate>
		There are no posts
	  </h4>
            <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a post!</p>
        </div>
    </div>
</div>
